# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
#  from http://www.dannygoodayle.com/2013/02/14/using-unity-with-git/

# for some reason, specified files are STILL trying to sync, despite above rules

.DS_Store
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
Library/FailedAssetImports.txt
Library/cache/
Library/previews/
Library/ScriptAssemblies
MusicGame/Library/FailedAssetImports.txt
MusicGame/Library/cache/
MusicGame/Library/previews/
MusicGame/Library/ScriptAssemblies
obj
MusicGame/obj
Temp
MusicGame/Temp
MusicGame/Musicgame-csharp.sln
MusicGame/Musicgame.sln
Musicgame-csharp.sln
Musicgame.sln
